body {
    margin: 0;
    background-color: white;
}

h1 {
    margin: 0;
    width: 700px;
    height: 85px;
    padding-top: 1em;

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;

    color: blue;
}

h2 {
    margin: 0;
    width: 700px;
    height: 85px;
    padding-top: 2em;

    font-family: 'Noto Serif HK';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;

    color: pink;
}

p {
    margin: 0;
    width: 500px;
    height: 243px;
    padding-top: 2em;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;

    color: #000000;
}