body {
    margin: 0;
    background-color: #FEFAE0;
  }

/* Header 1 */

h1 {
    margin: 0;
    width: 700px;
    height: 85px;
    padding-top: 1em;

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;

    color: #CCD5AE;
}


/* Header 2 */

h2 {
    margin: 0;
    clear: right;
    float: right;
    width: 336px;
    height: 85px;
    padding-right: 8em;

    font-family: 'Noto Serif HK';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;

    color: #CCD5AE;
}

/* Header 3 */

h3 {
    height: 85px;
    left: 0px;
    top: 125px;

    font-family: 'Noto Serif HK';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 69px;

    color: #CCD5AE;
}


/* Header 4 */

h4 {
    width: 500px;
    height: 85px;
    left: -20px;
    top: 150px;

    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    text-align: center;

    color: #D4A373;

}

/* Header 5 */

h5 {
    position: absolute;
    width: 336px;
    height: 85px;
    left: 0px;
    top: 210px;

    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    text-align: center;

    color: #CCD5AE;

}

/* Header 6 */

h6 { 
    width: 336px;
    height: 85px;
    left: 0px;
    top: 235px;

    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: left;

    color: #CCD5AE;
}


/* links */

article a{ 
    left: 125px;
    top: 500px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #D4A373;
}

article a:hover{
    left: 125px;
    top: 500px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-decoration-line: underline;

    color: #A4A2A2;
}

article a:visited{
    left: 125px;
    top: 500px;
    width: 323px;
    height: 27px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-decoration-line: underline;

    color: #CCD5AE;
}

/* border line */

hr {
    width: 1299px;
    height: 0px;
    left: 71px;
    top: 700px;

    border: 4px solid #D4A373;
}

/* Nav bars */

nav {
    background-color: #CCD5AE;
    padding: 2em;
    top: 0;
    position: sticky;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: right;
  }
  
  nav a {
    font-family: 'Georgia';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 27px;
    text-align: center;
    padding: .5em 1em;
    text-decoration: none;
  }


/* Index - Home page */

.index {
    display: flex;
    flex-direction: row;
}

.text {
    order: 2;
}

.sophia-photo {
    order: 1;
}

.index h1 {
    clear: right;
    float: right;
    padding-right: 25px;
}

.index p {
    margin: 0;
    clear: right;
    float: right;
    padding-right: 9em;
    width: 500px;
    height: 243px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;

    color: #000000;
}

  /* Images */

.sophia-photo img {
    clear: left;

    max-height: 100%;
    height: 500px;
    padding-top: 3em;
    padding-left: 10em;
}

  .photos {
    margin: 0;
    gap: 1px;
    text-align: center;
  }

  .photos img {
    max-height: 100%;
    height: 400px;
    display: inline-block;
    margin: 0;
    gap: 1px;
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    .index {
        display: flex;
        flex-direction: column;
    }
    
    .text {
        order: 2;
    }

    .index h1 {
        clear: left;
        float: left;
        padding-left: 2em;
    }

    .index h2 {
        display: none;
    }
    
    .index p {
        clear: right;
        float: right;
        padding-right: 100px;
        padding-bottom: 3em;
    }

    .sophia-photo {
        order: 1;
    }

    .sophia-photo img {
        clear: right;
        float: right;
        padding-right: 7em;
    }
}



/* Portfolio */


/* Portfolio Header */
.porfolio-header h1 {
    padding-left: 9em;
    padding-bottom: 1em;
}

@media only screen and (max-width: 768px) {
    .porfolio-header h1 {
        padding-left: 2em;
        padding-bottom: 1em;
    }
}

/* Portfolio 1 */

.portfolio-1 {
    clear: both;
    display: flex;
    flex-direction: row;
}

.portfolio-1-text {
    order: 2;
}

.portfolio-1-img {
    order: 1;
}

.portfolio-1-text p {
    margin: 0;
    clear: right;
    text-align: left;
    float: right;
    padding-right: 8em;
    width: 700px;
    height: 243px;
    padding-left: 3em;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;

    color: #000000;
}

.portfolio-1-text h3 {
    clear: right;
    padding-right: 275px;
    padding-left: 1em;
    text-align: left;
    float: right;
}

.portfolio-1 img {
    height: 400px;
    padding-left: 10em;
}

@media only screen and (max-width: 768px) {
    .portfolio-1 {
        clear: both;
        display: flex;
        flex-direction: column;
    }
    
    .portfolio-1-text {
        order: 2;
    }
    
    .portfolio-1-img {
        order: 1;
    }
}

/* Portfolio 2 */

.portfolio-2 {
    clear: both;
    display: flex;
    flex-direction: row;
}

.portfolio-2-text {
    order: 2;
}

.portfolio-2-img {
    order: 1;
}

.portfolio-2-text p {
    margin: 0;
    clear: right;
    text-align: left;
    float: right;
    width: 700px;
    height: 243px;
    padding-left: 3em;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;

    color: #000000;
}

.portfolio-2-text h3 {
    clear: right;
    padding-right: 7em;
    text-align: left;
    float: right;
}

.portfolio-2 img {
    height: 400px;
    padding-left: 10em;
}

@media only screen and (max-width: 768px) {
    .portfolio-2 {
        clear: both;
        display: flex;
        flex-direction: column;
    }
    
    .portfolio-2-text {
        order: 2;
    }
    
    .portfolio-2-img {
        order: 1;
    }


}

/* Other works */

.other-works {
    display: flex;
    flex-direction: column;
}

.other-works-header{
    order: 1;
}


.link {
    order: 2;
}

.other-works-header h4 {
    margin: 0;
    text-align: center;
    padding-top: 1em;
    padding-left: 12em;
}

.other-works a {
    margin: 0;
    text-align: center;
    padding-left: 16em;
    padding-bottom: 2em;
}

@media only screen and (max-width: 768px) {
    .other-works-header h4{
        padding-left: 3em;
    }
    
    .link a{
        padding-left: 5em;
    }


}

/* Resume */


.resume-header h1 {
    margin: 0;
    text-align: center;
    padding-left: 6em;
}

iframe {
    margin: 0;
    height: 900px;
    width: 1000px;
    border: none;
    padding-top: 5em;
    padding-left: 15em;
    
}

@media only screen and (max-width: 768px) {
    .resume-header h1 {
        margin: 0;
        text-align: center;
        padding-left: 0em;
    }
    
    iframe {
        margin: 0;
        height: 400px;
        width: 600px;
        border: none;
        padding-top: 5em;
        padding-left: 5em;
        
    }
}

/* Contacts */

.contacts h1 {
    margin: 0;
    text-align: center;
    padding-left: 6em;
}

.contacts-phone {
    clear: both;
    display: flex;
    padding-top: 2em;
}

.contacts-phone h4{
    margin: 0;
    float: left;
    padding-left: 1em;
}

.contacts-phone h6{
    margin: 0;
    float: left;
    padding-left: 1em;
}

.contacts-email {
    clear: both;
    display: flex;
    padding-top: 2em;
}

.contacts-email h4 {
    margin: 0;
    float: left;
    padding-left: 4em;
}

.contacts-email h6{
    margin: 0;
    float: right;
    padding-right: 625px;
}

@media only screen and (max-width: 768px) {
    .contacts h1 {
        margin: 0;
        text-align: center;
        padding-left: 1em;
    }
    
    .contacts-phone {
        clear: both;
        display: flex;
        padding-top: 2em;
    }
    
    .contacts-phone h4{
        margin: 0;
        float: left;
        padding-left: 1em;
    }
    
    .contacts-phone h6{
        margin: 0;
        float: left;
        padding-left: 0em;
    }
    
    .contacts-email {
        clear: both;
        display: flex;
        padding-top: 2em;
    }
    
    .contacts-email h4 {
        margin: 0;
        float: left;
        padding-left: 4em;
    }
    
    .contacts-email h6{
        margin: 0;
        float: right;
        padding-right: 2em;
    }
}