.output1 {
    height: 200px;
    width: 200px;
    display: inline;
}

.output2 {
    height: 200px;
    width: 200px;
    display: inline;
}

.output3 {
    height: 200px;
    width: 200px;
    display: inline;
}

.output4 {
    height: 200px;
    width: 200px;
    display: inline;
}

.output5 {
    height: 200px;
    width: 200px;
    display: inline;
}

.output6 {
    height: 200px;
    width: 200px;
    display: inline;
}

.output7 {
    height: 200px;
    width: 200px;
    display: inline;
}

.output8 {
    height: 200px;
    width: 200px;
    display: inline;
}

.output9 {
    height: 200px;
    width: 200px;
    display: inline;
}

.output10 {
    height: 200px;
    width: 200px;
    display: inline;
}